@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

@font-face {
	font-family: 'GothamBold';
	src: url('../fonts/gothambold1.eot');
	src: local('GothamBold'), url('../fonts/gothambold1.woff') format('woff'), url('../fonts/gothambold1.ttf') format('truetype');
}
:root {
    --primary-colour: #202945;
    --accent-colour: #00c4b3;
}
.font-gotham {
    font-family: 'GothamBold', sans-serif;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
#particles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.btn-buy {
    background-color: var(--accent-colour);
    border-color: var(--accent-colour);
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}
.home-header {
    min-height: calc(100vh - 93px);
}
#navTop {
    z-index:999;
}
#navTop .nav-link {
    padding-left: 20px;
    padding-right: 20px;
}
#navTop .navbar-brand {
    position: relative;
    width: 162px;
    height: 60px;
}
#navTop .navbar-brand .logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#navTop .navbar-brand .logo.logo-front {
    left: 44px;
    transition: all 0.32s ease;
}
#navTop .navbar-brand .logo.logo-back {
    transform: rotateY(180deg);
    opacity: 0;
    transition: all 0.32s ease;
}
#navTop .navbar-brand.is-hover .logo.logo-front {
    transform: rotateY(-180deg);
    opacity: 0;
}
#navTop .navbar-brand.is-hover .logo.logo-back {
    transform: rotateY(0deg);
    opacity: 1;
}
.dropdown-menu {
    background-color: transparent;
}
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: transparent;
}
svg.top-left {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 30vw;
    z-index: -1;
}
svg.bottom-right {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100vh - 99px);
    z-index: -1;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 576px;
    margin: auto;
    font-weight: bold;
    color: var(--primary-colour) !important;
}
.vertical-center {
    align-items: center;
    justify-content: center;
}
.height-500 {
    min-height: 600px;
}
.hero-paragraph {
    color: rgba(0,0,0, 0.5);
    font-weight: 400;
    line-height: 1.5;
}
.hero-img {
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sub-heading {
    font-size: 2.1rem;
}
.heading {
    font-size: 5rem;
}
.home-header .btn{
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
    color: #fff;
}
.home-header .btn.btn-primary,
.home-header .btn.btn-primary:hover,
.home-header .btn.btn-primary:active {
    background-color: var(--primary-colour);
    border-color: var(--primary-colour);
    margin-right: 20px;
}
.home-header .btn.btn-outline-primary,
.home-header .btn.btn-outline-primary:hover,
.home-header .btn.btn-outline-primary:active {
    background-color: #fff;
    border-color: var(--primary-colour);
    color: var(--primary-colour);
}

.social-icons {
    padding: 0;
    list-style-type: none;
}
.social-icons li {
    display: inline-block;
    background-color: rgba(0,0,0, 0.5);
    padding: 5px;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    line-height: 25px;
    text-align: center;
    margin-right: 20px;
}

.social-icons img{
    width: auto;
    height: 20px;
    max-width: 100%;
    transform: scale(0.8);
}
#bottomNav {
    background-color: var(--primary-colour);
}
#bottomNav ul li a {
    color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
}
#bottomNav ul li.active a {
    background-color: #fff;
    color: var(--primary-colour);
    border-radius: 50px;
}
#bottomNav ul li.active:before {
    content: '';
    /* background-color: #fff; */
    border-top: 5px solid #fff6f7;
    height: 5px;
    width: 100%;
    display: block;
    margin-top: -25px;
    padding-top: 25px;
}
@media (max-width: 991px) {
    svg.bottom-right {
        min-height: 100vh;
        height: 100%;
    }
    #navTop .btn {
        display: block;
    }
}
.has-submenu:hover>.sub-menu {
    display: block;
    visibility: visible;
    top: -110px;
}
.sub-menu {
    position: absolute;
    top: -150px;
    background-color: #fff;
    border: 2px solid var(--primary-colour);
    border-radius: 50px;
    list-style-type: none;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.15s ease-in;
    visibility: collapse;
}
.has-submenu {
    position: relative;
}
.sub-menu::before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 100%);
    border-width: 16px 16px 0;
    border-style: solid;
    border-color: var(--primary-colour) transparent;
    display: block;
    width: 0;
}
.sub-menu::after {
    display: block;
    content: '';
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #fff transparent; 
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 100%);
}
#bottomNav .sub-menu li a {
    color: var(--primary-colour);
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}

/* instructions page styling starts here */
#instructions{
    line-height: 27px;
    padding-top: 60px;
}
.heading{
    font-size: 25px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.sub-heading{
    font-size: 22px;
    margin-top: 1.8rem;
}
.beginning-the-game{
    margin-left: 15px;
}
.gameboard-legend-list li {
    margin-bottom: 1rem;
}
/* instructions page styling ends here */

/* region page styling */
#region-table {
    border-bottom: 4px solid #202945;
    text-align: center;
    border-top: none;
}
#region-table  thead{
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}
#region-table thead th{
    border: 3px solid #fff;
    background-color: #00C4B3;
}
#region-table .pink-bg {
    background-color: #ff8e9f;
    text-align: center;
    border: 3px solid #fff;
}
#region-table .dark-blue-bg {
    background-color: #202945;
    color: #fff;
}
#region-table .light-blue-bg {
    background-color: #92C0E9;
    color: #202945;
    font-weight: bold;
    border: 3px solid #fff;
}
#region-table .light-grey-bg {
    background-color: #E6E7E7;
    color: #000;
    border: 3px solid #fff;
}
#region-table .lighter-blue-bg {
    background-color: #D9E8F7;
    color: #000;
    border: 3px solid #fff;
}
#region-table .transparent {
    background-color: transparent;
}
#region-table .border-bottom {
    border-top-color: transparent;
    border-bottom: 4px solid #202945 !important;
}
#region-table .border-top {
    border-top: 4px solid #202945 !important;
}
#region-table .border-left {
    border-left: 4px solid #202945 !important;
}
#region-table .border-right {
    border-right: 4px solid #202945 !important;
}
#region-table .no-y-border {
    border-left: 0;
    border-right: 0 solid transparent;
}
#region-table tbody .border-left {
    border-left: 7px solid #202945 !important;
}
#region-table .no-left-border {
    border-left: 0px solid transparent !important;
}
#region-table .no-top-border {
    border-top: 0px solid transparent !important;
}
#region-table .no-border {
    border: 0px solid transparent !important;
}
/* region page styling */
.modal-header {
    background-color: #202945;
    color: #fff;
}
.modal .btn-primary {
    background-color: var(--accent-colour);
    border-color: var(--accent-colour);
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}
.modal .btn-primary-outline {
    background-color: #fff;
    border-color: var(--primary-colour);
    color: var(--primary-colour);
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    color: #fff;
}
.close:not(:disabled):not(.disabled):hover {
    color: #fff;
    text-decoration: none;
    opacity: .75;
}